################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductManagement/.vs/ProductManagement
/.vs
/ProductManagement/Repository/bin/*
/ProductManagement/Repository/obj/*
/ProductManagement/LoggerService/obj/*
/ProductManagement/API/obj/*
